* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass{
  background: white;
  min-height: 80vh;
  width: 100vh;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255, 0.3));
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
}

.circle1{
  background: white;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.9), rgba(255,255,255, 0.1));
  border-radius: 2rem;
  height: 20rem;
  width: 20rem;
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: 1;
  border-radius: 50%;
}
